
/* If the screen size is 601px wide or more, set the font-size of <div> to 80px */
@media screen and (min-width: 601px) {
  div.overview {
    font-size: 80px;
  }
}

/* If the screen size is 600px wide or less, set the font-size of <div> to 30px */
@media screen and (max-width: 600px) {
  div.overview {
    font-size: 30px;
  }
}

html{
    margin: auto;
    display: block;
    font-size: 62.5%;
    
}
h1 {
    display: block;
    font-size: 2em;
    margin-top: 0.67em;
    margin-bottom: 0.67em;
    margin-left: 0;
    margin-right: 0;
    font-weight: bold;
    color: #31a354;
  }
h2 {
    display: block;
    font-size: 1.5em;
    margin-top: 0.83em;
    margin-bottom: 0.83em;
    margin-left: 0;
    margin-right: 0;
    font-weight: bold;
  }

body {
 margin: 50px;
 padding: 5%;
 font-size: 18px; 
 line-height: 1;
 font-weight: 400;
 color: #555;
 /* font: 1.5rem 'Fira Sans', sans-serif; */
 font-family: 'Fira Sans', 'sans-serif'; 

 /* font-family: 'Lato', 'sans-serif'; */
 /* background-color: rgb(44,44,61); */
}

div {
    display:block;
    padding: 10px;
   

}
p{
    font-size: 20px;
    
}
img {
    border: 1px solid #ddd;
    border-radius: 4px;
    padding: 5px;
    width:400px;
  
    
    display: inline;
  }
  button[disabled] {
    border: 1px solid black;
    background-color: grey;
    color: white;
    padding: 15px;
    cursor: not-allowed;
}
  .download_pdf{
    background-color: #333;
    overflow:hidden;
    margin:5px;
   
    
  }
  /* .underline{
    text-decoration: underline;
  } */
  
  .underline:hover{
    text-decoration: underline;
    cursor: pointer;
   color: #798BBC;
  }
  .pdf_icon{
    width:30px;
    height:30px;
    text-align: center;
  }
  .download_pdf a {
        float:left;
        color: #f2f2f2;
        padding: 30px 16px;
        text-decoration: none;
        font-size: 18px;
       
       
        text-align: center;
  }
  .download_pdf a:hover {
    text-decoration: underline;
    color: #ddd;
  }
  input {
    margin: 0.4rem;
}
fieldset{
    font-size: 18px;

}
.canva{
    display: inline-block;
}
.canva_Mum{
    display: inline-block;
}
.hide{
    visibility: hidden;
}
.visible{
    visibility:visible;
}
/* Add a black background color to the top navigation */
.topnav {
    background-color: #333;
    overflow:hidden;
    margin-bottom: 20px;
  }
  
  /* Style the links inside the navigation bar */
  .topnav a {
    float:left;
    color: #f2f2f2;
    /* padding: 30px 16px; */
    text-decoration: none;
    font-size: 28px;
    padding: 40px;
    
  }
  
  /* Change the color of links on hover */
  .topnav a:hover {
    background-color: #ddd;
    color: black;
  }
  
  /* Add a color to the active/current link */
  .topnav a.active {
    background-color: #31a354;
    color: white;
  }
  .reasons_nav a{
    float:left;
    color: #f2f2f2;
    /* padding: 30px 16px; */
    text-decoration: none;
    font-size: 20px;
    cursor:auto;
   
  }
  .link{
    color: #ffffff;
  }
  
  .pushable {
    background: #31a354;
    border-radius: 12px;
    border: none;
    padding: 0px;
    cursor: pointer;
    outline-offset: 4px;
    margin-left: 150px;
    
  }
  .front {
    display: block;
    padding: 12px 42px;
    border-radius: 12px;
    font-size: 18px;
    background: #31a354;
    color: white;
    transform: translateY(-6px);
  }
  /*  */

  .pushable:active .front {
    transform: translateY(-2px);
  }
div.tooltip {
    position: absolute;
    text-align: left;
    width: 350px;
    /* height: 150px; */
    /* padding: 2px; */
    font: 12px Helvetica, sans-serif;
    /* background: #e5f5e0; */
    border:0px;
    border-radius: 4px;
    /* cursor: pointer; */
    pointer-events: none;  
    background-color: rgb(52, 50, 50);
    color: #fff;
   
   
}
#intro{
    margin-top: 25px;
    
}


g .tick text {
    font-size: 14px;
    margin: 70px;
   
    /* fill: rgb(63, 83, 32); */
}
g .tick line {
   color: black;

}
.rect{
    cursor: pointer;
    
}
.small{
    font-size: 18px;
}
.line{
    fill: none;
    stroke: rgb(17, 82, 17);
    stroke-width: 3px;
    cursor: pointer;

}
.everLine {
    stroke: #798BBC;
}
.sixLine{
    stroke: #a1d99b;

}
.twelveLine{
    stroke: #F97850;
}
.exclusiveLine{
    stroke: #57B795;
}
.exclusiveThreeLine{
    stroke: #31a354;

}
.formulaLine{
    stroke: #E072B6;
}
.formulaCircle{
    fill: #E072B6;
}
.formulaTwoLine{
    stroke: #a1d99b;

}
.formulaThreeLine{
    stroke: #798BBC;

}
.Formula{
    fill: #E072B6;
}
.formulaTwoCircle{
    fill: #a1d99b;
}
.formulaThreeCircle{
    fill: #798BBC;
}
.Ever{
    fill: #798BBC;
}
.Six_Months{
    fill:#a1d99b;
}
.Twelve_Months{
    fill:#F97850;
}
.Exclusive{
    fill:#57B795;
}
.exclusiveThreeCircle{
    fill: #31a354;
}
.annotation-group{
    font-size: 18px;
    opacity:0;
}
.bubbles {
    stroke-width: 1px;
    stroke: black;
    opacity: .8
  }
  .bubbles:hover {
    stroke: black;
  }
  